.slideUp {
  animation: slideUp 0.5s cubic-bezier(0.2, 0, 0.4, 1) both;
}
@keyframes slideUp {
  0% {
    transform: translateY(25px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
