/* swtich taken from W3 schools */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sunmoon {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;

  // transform: translateY(15px);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 2px solid #888888;
    border-radius: 10px;
  }
  svg {
    height: 21px;
    width: 21px;
  }
}

input:checked + .sunmoon {
  background-color: #eaeaea;
  &:hover {
    border: 2px solid #888888;
    border-radius: 10px;
  }
}
